{% extends "base.html" %}
{% block title %} NextCare Dashboard {%endblock%}
{% block content %}

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Patients</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="sort-column">Sort By:</label>
                <select class="form-control" id="sort-column" name="sort-column">
                    <option value="">-- Select Column --</option>
                    <option value="name">Name</option>
                    <option value="age">Age</option>
                    <option value="email">Email</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table align-middle overflowunset">
                <thead class="tableheader">
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Date of Birth</th>
                <th>Address</th>
                <th>Insurance Plan</th>
                <th class="text-center">Medications</th>
                </thead>
                <tbody id="patients_data">
                {% for patient in patients %}
                <tr>
                    <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                    <td>{{ patient.phone_number }}</td>
                    <td>{{ patient.date_of_birth}}</td>
                    <td>{{ patient.address}}</td>
                    <td>{{ patient.insurance_plan}}</td>
                    <td>
                        <button class="btn-sm btn btn-main meds w-100 btn-fix">Show</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#sort-column').on('change', function () {
            var column_name = $(this).val();
            var sort_order = 'asc';
            var url = "{{ url_for('sort_data') }}";
            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json',
                data: JSON.stringify({'column_name': column_name}),
                success: function (response) {
                    var patients = response['data'];
                    var table_body = $('#patient-table tbody');
                    table_body.empty(); // Clear the current table data
                    for (var i = 0; i < patients.length; i++) {
                        var patient = patients[i];
                        var row = $('<tr>');
                        row.append($('<td>').text(patient.name));
                        row.append($('<td>').text(patient.age));
                        row.append($('<td>').text(patient.email));
                        table_body.append(row);
                    }
                }
            });
        });
    });
</script>
{% endblock %}
